/* ==========================================================================
   SIDEBAR - Rafał A. Bogaczewicz - WERSJA SKORYGOWANA (LINIE I ODSTĘPY)
   ========================================================================== */

.sidebar {
  -webkit-transform: translate3d(0, 0 , 0);
          transform: translate3d(0, 0 , 0);
  @include clearfix();
  margin-bottom: 1em;

  @media screen and (min-width: 1200px) {
    position: -webkit-sticky;
    position: sticky;
    top: $masthead-height + 20px;
    z-index: 10;
  }

  @include breakpoint($large) {
    @include span(3 of 12);
    float: left !important;      
    margin-left: 0 !important;   
    padding-right: 0 !important; /* USUNIĘTO 20px - kolumny będą bliżej */
    opacity: 1;
  }

  img { width: 100%; }
}

.author__avatar {
  display: block !important; 
  img {
    max-width: 175px !important; 
    width: 175px !important;
    border-radius: 50%;
    margin: 0 !important; /* Zdjęcie do lewej */
    border: 1px solid var(--global-border-color);
    padding: 5px;
  }
}

.author__content {
  display: block !important;
  padding-left: 0 !important; 
  text-align: left !important; /* Wymuszenie lewej strony */
}

.author__name {
  margin: 10px 0 !important;
  font-family: $sans-serif;
  font-size: $type-size-5;
  text-align: left !important; 
}

.author__bio {
  margin: 10px 0 20px 0;
  font-size: $type-size-6;
  text-align: left !important; 
  display: block;
  max-width: 260px; /* Blokada dla 100% (emotka do 2. linii) */
  margin-left: 0 !important; 
  margin-right: 0 !important;
}

.author__urls-wrapper {
  position: relative;
  button { display: none !important; }
}

.author__urls {
  display: flex !important;      
  flex-wrap: wrap !important;    
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;
  justify-content: flex-start !important; /* Linki do lewej */

  @include breakpoint($large) {
    display: block !important;   
  }

  li {
    white-space: nowrap;
    margin-right: 15px;
    margin-bottom: 12px;
    @include breakpoint($large) { margin-right: 0; }
  }

  a {
    display: flex;
    align-items: center;
    font-size: 1.1rem !important;
    text-decoration: none;
    i, span.ai {
      font-size: 1.3rem !important;
      width: 1.5em !important;
      text-align: center;
      margin-right: 10px !important;
    }
  }
}
