/* ==========================================================================
   SIDEBAR - Rafał A. Bogaczewicz - Version 2026.01.15 (Poszerzona Stabilizacja)
   ========================================================================== */

.sidebar {
  -webkit-transform: translate3d(0, 0 , 0);
          transform: translate3d(0, 0 , 0);
  @include clearfix();
  margin-bottom: 1em;

  @media (orientation: portrait) {
    margin-top: 1em;
  }

  /* Stabilizacja przy przewijaniu na dużych ekranach */
  @media screen and (min-width: 1200px) {
    position: -webkit-sticky;
    position: sticky;
    top: $masthead-height + 20px;
    z-index: 10;
  }

  @include breakpoint($large) {
    @include span(3 of 12);
    float: left !important;      
    margin-left: 0 !important;   
    padding-right: 20px;
    opacity: 1;
    margin-top: 0 !important;    
    padding-top: 0 !important;   
    vertical-align: top;         
  }

  @include breakpoint($x-large) {
    max-width: $sidebar-link-max-width;
    padding-right: 0;
  }

  h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    font-family: $sans-serif-narrow;
  }

  h3, h4 {
    font-size: $type-size-5;
  }

  p, li {
    font-family: $sans-serif;
    font-size: $type-size-6;
    line-height: 1.5;
  }

  img {
    width: 100%;
  }
}

/* --- PROFIL AUTORA --- */

.author__avatar {
  display: block !important; 
  width: auto;
  
  @include breakpoint($large) {
    display: block;
    width: auto;
    height: auto;
  }

  img {
    max-width: 175px !important; 
    width: 175px !important;
    border-radius: 50%;
    margin-left: 0 !important;   
    border: 1px solid var(--global-border-color);
    padding: 5px;
  }
}

.author__content {
  display: block !important;
  vertical-align: top;
  padding-left: 0 !important; 
  line-height: 1.2;

  @include breakpoint($large) {
    display: block;
    width: 100%;
    padding-right: 0;
  }
}

.author__name {
  margin: 10px 0 !important;
  font-family: $sans-serif;
  font-size: $type-size-5;
  text-align: left; 

  @media screen and (max-width: 1440px) {
    text-align: center !important; 
    display: block !important;
    width: 100% !important;
  }
}

.author__bio {
  margin: 10px 0 20px 0;
  font-size: $type-size-6;
  text-align: left; 
  
  /* POSZERZONY BLOK BIO DLA TYPOGRAFII PL */
  display: block;
  width: fit-content;
  max-width: 240px; 
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 1440px) {
    text-align: left !important; 
    display: block !important;
    width: fit-content !important;
    max-width: 240px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
/* --- POWIĘKSZENIE IKON I LINKÓW W SIDEBARZE --- */

.author__urls {
  li {
    margin-bottom: 8px; /* Większy odstęp między wierszami dla "oddechu" */
    
    a {
      font-size: 1.1rem !important; /* Powiększenie tekstu (standardowo jest ok. 0.9rem) */
      font-weight: 500; /* Lekkie pogrubienie, by tekst był wyraźniejszy */
      
      /* Celujemy w ikony Font Awesome i Academicons */
      i, span.ai {
        font-size: 1.3rem !important; /* Ikona będzie wyraźnie większa od tekstu */
        width: 1.5em !important;     /* Rezerwujemy stałe miejsce na ikonę (zapobiega drganiom tekstu) */
        text-align: center;
        margin-right: 10px !important;
      }
      
      /* Logotypy PNG (PWr i IFT), które zdefiniowałeś wcześniej */
      i.fa-location-dot::before,
      i.fa-building-columns::before {
        width: 22px !important;  /* Zwiększamy z 18px na 22px */
        height: 22px !important;
      }
    }
  }
}

/* ==========================================================================
   POPRAWKA DLA ZOOMU 133% - POSZERZONA SZEROKOŚĆ Z ZACHOWANIEM PIONU
   ========================================================================== */

@media screen and (max-width: 1440px) {
  .author__avatar {
    text-align: center !important;
    img {
      margin: 0 auto 15px auto !important; 
    }
  }

  .author__content {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important; 
  }

  .author__name, 
  .author__bio {
    display: block !important;
    width: fit-content !important; 
    max-width: 240px !important; /* Dajemy więcej miejsca niż zdjęcie */
    text-align: left !important;   
    margin-left: auto !important;  
    margin-right: auto !important; 
  }

  .author__urls {
    justify-content: center !important;
    width: 100% !important;
  }
}
