/* ==========================================================================
   SIDEBAR - Rafał A. Bogaczewicz - Version 2026.01
   ========================================================================== */

.sidebar {
  -webkit-transform: translate3d(0, 0 , 0);
          transform: translate3d(0, 0 , 0);
  @include clearfix();
  margin-bottom: 1em;

  @media (orientation: portrait) {
    margin-top: 1em;
  }

  /* Stabilizacja przy przewijaniu na dużych ekranach */
  @media screen and (min-width: 1200px) {
    position: -webkit-sticky;
    position: sticky;
    top: $masthead-height + 20px;
    z-index: 10;
  }

  @include breakpoint($large) {
    @include span(3 of 12);
    float: left !important;      // WYMUSZENIE LEWEJ STRONY
    margin-left: 0 !important;   // MAX DO LEWEJ KRAWĘDZI
    padding-right: 20px;
    opacity: 1;
  }

  @include breakpoint($x-large) {
    max-width: $sidebar-link-max-width;
    padding-right: 0;
  }

  h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    font-family: $sans-serif-narrow;
  }

  h3, h4 {
    font-size: $type-size-5;
  }

  p, li {
    font-family: $sans-serif;
    font-size: $type-size-6;
    line-height: 1.5;
  }
}

/* --- PROFIL AUTORA --- */

.author__avatar {
  display: block !important; // Zapobiega spłaszczaniu zdjęcia przy zoomie
  width: auto;
  
  @include breakpoint($large) {
    display: block;
    width: auto;
    height: auto;
  }

  img {
    max-width: 175px !important; // STAŁY ROZMIAR ZDJĘCIA
    width: 175px !important;
    border-radius: 50%;
    margin-left: 0 !important;   // ZDJĘCIE DO LEWEJ
    border: 1px solid var(--global-border-color);
    padding: 5px;
  }
}

.author__content {
  display: block !important;
  vertical-align: top;
  padding-left: 0 !important; // USUWA WCIĘCIE
  line-height: 1.2;

  @include breakpoint($large) {
    display: block;
    width: 100%;
    padding-right: 0;
  }
}

.author__name {
  margin: 10px 0 !important;
  font-family: $sans-serif;
  font-size: $type-size-5;
  text-align: left;
}

.author__bio {
  margin: 10px 0 20px 0;
  font-size: $type-size-6;
  text-align: left;
}

/* --- LINKI I IKONY (POZIOME PRZY ZOOMIE/MOBILE) --- */

.author__urls-wrapper {
  position: relative;
  font-family: $sans-serif;
  z-index: 20;

  button {
    @include breakpoint($large) {
      display: none;
    }
  }
}

.author__urls {
  display: flex !important;      // DOMYŚLNIE POZIOMO (Dla mobile i zoom)
  flex-wrap: wrap !important;    // PRZECHODZENIE DO NOWEJ LINII
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;

  @include breakpoint($large) {
    display: block !important;   // WRACA DO LISTY PIONOWEJ NA DESKTOPIE
  }

  li {
    white-space: nowrap;
    margin-right: 15px;          // ODSTĘP MIĘDZY IKONAMI POZIOMO
    
    @include breakpoint($large) {
      margin-right: 0;
    }
  }

  a {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    color: inherit;
    font-size: $type-size-6;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    img {
      width: 18px;
      height: 18px;
      margin-right: 8px;
    }
  }
}

/* Ukrywanie przycisku "Follow" na desktopie */
.author__urls-wrapper button {
  display: none;
}
